
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Nim
      uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: '2.0.0'
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: nimble install --depsOnly --accept

    - name: Build
      run: nimble build 

    - name: Run help command
      run: ./bin/tableview --help
